<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MassTransitConfiguration" type="Poc.MassTransit.Infrastructure.MassTransitConfigurationSection, Poc.MassTransit.Infrastructure" />
  </configSections>
  <MassTransitConfiguration host="rabbitmq://localhost" username="guest" password="guest" />
</configuration>